NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=alvo-church.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=alvo-church
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=alvo-church.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

